In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
db = pd.read_csv('fall.csv')

In [44]:
db.head()

   ACTIVITY     TIME        SL      EEG  BP   HR  CIRCLUATION
0         3  4722.92   4019.64 -1600.00  13   79          317
1         2  4059.12   2191.03 -1146.08  20   54          165
2         2  4773.56   2787.99 -1263.38  46   67          224
3         4  8271.27   9545.98 -2848.93  26  138          554
4         4  7102.16  14148.80 -2381.15  85  120          809

In [14]:
y,X = db.values[:,0],db.values[:,1:]

array([3., 2., 2., ..., 2., 4., 3.])

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

In [41]:
train = np.concatenate((X_train,y_train[np.newaxis].T),axis=1)

In [38]:
test = np.concatenate((X_test,y_test[np.newaxis].T),axis=1)

In [46]:
pd.DataFrame(train).to_csv("train.csv",header=['TIME','SL','EEG','BP','HR','CIRCLUATION','ACTIVITY'],index=None)

In [47]:
pd.DataFrame(test).to_csv("test.csv",header=['TIME','SL','EEG','BP','HR','CIRCLUATION','ACTIVITY'],index=None)